body {
    background: #f8f9fa;
}
.cor-principal {
    color: crimson;
}
h1 {
    font-weight: 500;
    height: 36px;
    margin: 0;
    line-height: 0.8;
}
section .container .col-lg-12 {
    background-color: white;
    display: flex;
    flex-direction: center;
}
footer {
    color: white;
}
footer .container .col-lg-12{
    background-color: rgb(70, 69, 69);
    padding: 60px;
}
.social-media a {
    padding: 0 10px;
    color: white;
    text-decoration: none;
    }
.social-media a:hover {
    color: grey;
    }
